div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 5px;

    font-size : 13px;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    word-wrap: break-word;
    font-size : 10px;
}